.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  background-image: url(../../../images/__background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
}

.cover__link::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, .5);
  opacity: 0.3;
}

.cover__link:hover::after {
  background: rgba(0, 0, 0, .5);
  opacity: 0.8;
  
}