.lead {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  /*border: 1px solid red;*/
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .lead {
    padding-top: 48px;
    
  }
}

