.lead__title {
  margin: 0;
  max-width: 720px;
  color: #fff;
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height:44px;
  }
}