.footer__copyright {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 767px) {
  .footer__copyright{
    line-height: 14px;
    
  }
}