.intro__text {
  max-width: 690px;
  margin: 0;
  padding: 48px 0 0;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

@media (max-width: 1023px) {
  .intro__text {
    max-width: 100%;
  }
}