.lead__caption {
  padding-top: 8px;
  margin: 0;
  align-self: flex-start;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.15em;
}
